.title {
    font-size: 18px;

    .title-text {
        font-weight: 500;
    }
}

.news-icon {
    vertical-align: -3px;
    font-size: 16px !important;
}

.creator-container {
    text-align: right;
}

a {
    color: #000;
    text-decoration: none;
}

.date-text {
    font-size: 10px;
}