.title {
    font-size: 18px;

    .title-text {
        font-weight: 500;
    }

    .hide-btn {
        float: right;

        .close-btn {
            cursor: pointer;
        }
    }
}

.news-icon {
    vertical-align: -3px;
    user-select: none;
    font-size: 16px !important;
}

.change-score-icon {
    user-select: none;
    vertical-align: -11px;
    cursor: pointer;
    font-size: 32px !important;
}

.open-chat-icon {
    vertical-align: -3px;
    user-select: none;
    cursor: pointer;
    font-size: 16px !important;
}

.creator-container {
    text-align: right;
}

a {
    color: #000;
    text-decoration: none;
}

.date-text {
    font-size: 10px;
}

.comments-count {
    margin-left: 3px;
    font-size: 16px
}