@import '/src/mixins.scss';

.main-container {
    margin-top: 20px;
}

.stories {
    background-color: white;
    @include mat-elevation-2;
    border-radius: 10px;
    padding: 10px;

    .list {
        max-height: 600px;
        overflow: auto;
        padding: 0 30px 10px 30px;
    }

    .pagination {
        .paginator {
            margin-top: 10px;
            float: right;
            padding: 0 20px 10px 0;

            .page-info {
                font-size: 13px;
                vertical-align: bottom;
                margin-right: 10px;
            }

            .btn-left {
                margin-right: 5px;
            }
        }
    }
}

.w-100 {
    width: 100%;
}

.add-news-icon {
    margin-top: 20px;
    cursor: pointer;
}