@import '/src/mixins.scss';

.material-button {
  user-select: none;
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  border: none;
  border-radius: 4px;
  padding: 0 16px;
  min-width: 64px;
  height: 36px;
  vertical-align: middle;
  text-align: center;
  text-overflow: ellipsis;
  text-transform: uppercase;
  color: rgb(var(--pure-material-onprimary-rgb, 255, 255, 255));
  background-color: rgb(var(--pure-material-primary-rgb, 30, 30, 30));
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  font-family: var(--pure-material-font, "Roboto", "Segoe UI", BlinkMacSystemFont, system-ui, -apple-system);
  font-size: 14px;
  font-weight: 500;
  line-height: 36px;
  overflow: hidden;
  outline: none;
  cursor: pointer;
  transition: box-shadow 0.2s;
}

.material-button::-moz-focus-inner {
  border: none;
}

/* Overlay */
.material-button::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgb(var(--pure-material-onprimary-rgb, 255, 255, 255));
  opacity: 0;
  transition: opacity 0.2s;
}

/* Ripple */
.material-button::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  border-radius: 50%;
  padding: 50%;
  width: 32px;
  /* Safari */
  height: 32px;
  /* Safari */
  background-color: rgb(var(--pure-material-onprimary-rgb, 255, 255, 255));
  opacity: 0;
  transform: translate(-50%, -50%) scale(1);
  transition: opacity 1s, transform 0.5s;
}

/* Hover, Focus */
.material-button:hover,
.material-button:focus {
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
}

.material-button:hover::before {
  opacity: 0.08;
}

.material-button:focus::before {
  opacity: 0.24;
}

.material-button:hover:focus::before {
  opacity: 0.3;
}

/* Active */
.material-button:active {
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.material-button:active::after {
  opacity: 0.32;
  transform: translate(-50%, -50%) scale(0);
  transition: transform 0s;
}

/* Disabled */
.material-button:disabled {
  color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.38);
  background-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.12);
  box-shadow: none;
  cursor: initial;
}

.material-button:disabled::before {
  opacity: 0;
}

.material-button:disabled::after {
  opacity: 0;
}

.material-toggle {
  z-index: 0;
  position: relative;
  display: inline-block;
  color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.87);
  font-family: var(--pure-material-font, "Roboto", "Segoe UI", BlinkMacSystemFont, system-ui, -apple-system);
  font-size: 16px;
  line-height: 1.5;
}

/* Input */
.material-toggle>input {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  z-index: -1;
  position: absolute;
  right: 6px;
  top: -8px;
  display: block;
  margin: 0;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.38);
  outline: none;
  opacity: 0;
  transform: scale(1);
  pointer-events: none;
  transition: opacity 0.3s 0.1s, transform 0.2s 0.1s;
}

/* Span */
.material-toggle>span {
  display: inline-block;
  width: 100%;
  cursor: pointer;
}

/* Track */
.material-toggle>span::before {
  content: "";
  float: right;
  display: inline-block;
  margin: 5px 0 5px 10px;
  border-radius: 7px;
  width: 36px;
  height: 14px;
  background-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.38);
  vertical-align: top;
  transition: background-color 0.2s, opacity 0.2s;
}

/* Thumb */
.material-toggle>span::after {
  content: "";
  position: absolute;
  top: 2px;
  right: 16px;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background-color: rgb(var(--pure-material-onprimary-rgb, 255, 255, 255));
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  transition: background-color 0.2s, transform 0.2s;
}

/* Checked */
.material-toggle>input:checked {
  right: -10px;
  background-color: rgb(var(--pure-material-primary-rgb, 33, 150, 243));
}

.material-toggle>input:checked+span::before {
  background-color: rgba(var(--pure-material-primary-rgb, 33, 150, 243), 0.6);
}

.material-toggle>input:checked+span::after {
  background-color: rgb(var(--pure-material-primary-rgb, 33, 150, 243));
  transform: translateX(16px);
}

/* Hover, Focus */
.material-toggle:hover>input {
  opacity: 0.04;
}

.material-toggle>input:focus {
  opacity: 0.12;
}

.material-toggle:hover>input:focus {
  opacity: 0.16;
}

/* Active */
.material-toggle>input:active {
  opacity: 1;
  transform: scale(0);
  transition: transform 0s, opacity 0s;
}

.material-toggle>input:active+span::before {
  background-color: rgba(var(--pure-material-primary-rgb, 33, 150, 243), 0.6);
}

.material-toggle>input:checked:active+span::before {
  background-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.38);
}

/* Disabled */
.material-toggle>input:disabled {
  opacity: 0;
}

.material-toggle>input:disabled+span {
  color: rgb(var(--pure-material-onsurface-rgb, 0, 0, 0));
  opacity: 0.38;
  cursor: default;
}

.material-toggle>input:disabled+span::before {
  background-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.38);
}

.material-toggle>input:checked:disabled+span::before {
  background-color: rgba(var(--pure-material-primary-rgb, 33, 150, 243), 0.6);
}

.button-icon {
  margin-top: 5px;
  user-select: none;
}

.mat-elevation-z1 {
  @include mat-elevation-1;
}

.mat-elevation-z2 {
  @include mat-elevation-2;
}

.mat-elevation-z3 {
  @include mat-elevation-3;
}

.mat-elevation-z4 {
  @include mat-elevation-4;
}

.mat-elevation-z5 {
  @include mat-elevation-5;
}

.has-float-label {
  display: block;
  position: relative;
  margin-bottom: 16px;
}

.has-float-label input:hover:not(:disabled):not(:focus) {
  border-bottom: 2px solid #1e1e1e !important;
}

.has-float-label input:hover:invalid:not(:placeholder-shown):not(:focus) {
  border-bottom: 2px solid #ff1744 !important;
}

.has-float-label input:focus {
  border-bottom: 2px solid #2979ff;
  transition: all .2s;
}

.has-float-label input:invalid:not(:focus) {
  border-bottom: 2px solid #ff1744;
}

.has-float-label input:placeholder-shown:not(:focus) {
  border-bottom: 2px solid #8a8a8a;
}

/*.has-float-label input:-moz-ui-invalid {
border-bottom:2px solid red !important;
}
.has-float-label input:-moz-ui-invalid:not(:placeholder-shown) ~ .label {
color:red !important;
}*/

.has-float-label input:disabled {
  border-bottom: 2px dotted #8a8a8a !important;
  pointer-events: none;
  background-color: inherit;
}

.has-float-label input {
  font-size: inherit;
  padding: 16px 0 8px 0;
  border: 0;
  border-radius: 0;
  box-shadow: none;
  background-color: initial;
  color: #2c2c2c;
  caret-color: #2979ff;
  border-bottom: 2px solid #8a8a8a;
}

input {
  font-family: sans-serif;
  font-size: 14px;
  line-height: 1.15;
  margin: 0;
  outline: none;
}


.has-float-label input:placeholder-shown:not(:focus)+.label {
  font-size: 16px;
  top: 20px;
  //bottom:-8px;
  color: #838383;
}

.has-float-label label,
.has-float-label>.label {
  position: absolute;
  left: 0;
  top: 0;
  cursor: text;
  font-size: 12px;
  color: #6d6d6d;
  transition: all .2s;
  pointer-events: none;

}

.has-float-label input:invalid~.label {
  color: #ff1744;
}

.has-float-label input:focus~.label {
  color: #2979ff;
}

.has-float-label input:invalid:not(:focus):not(:placeholder-shown)~.error {
  display: block;
}

.error {
  color: #ff1744;
  display: none;
}

.has-float-label input:invalid:not(:focus):not(:placeholder-shown)~.helper {
  display: none;
}

.helper {
  display: block;
  color: #6d6d6d;

}

.helper,
.error {
  font-size: 12px;
  padding-top: 8px;
  line-height: 1;
}